*{
    margin: 0px;
    padding: 0px;
}
/* nav section start from here */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.898);
    color: white;
}
.logo{
    cursor: pointer;
}
.menus{
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 20px;
}
.hl:hover{
    background-color: rgb(151, 205, 50);
    cursor: pointer;
}
/* banner section start from here */
.bannner-container{
    height: 100vh;
    padding: 0px 100px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(229, 227, 216)
}
.banner-image{
    height: 525px;
    width: 370px;
    padding-top: 100px;
}
.about-container{
    width: 50%;
}
.main-title{
    font-size: 32px;
    text-align: left;
}
.title-description{
    padding-top: 20px;
    padding-right: 40px;
}
.btn-common{
    font-size: 20px;
    padding: 12px 20px;
    margin-top: 20px;
    background-color: rgba(243, 71, 100, 0.928);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* featured container start from here */
.feature-container{
    height: 100vh;
    margin: 100px 240px;
    font-family: Arial, Helvetica, sans-serif;
}
.feature-title{
    padding: 50px;
    text-align: center;
}
.feature-paragraph{
    padding: 20px;
}
.pink-container{
    width: 250px;
    height: 350px;
}
.pink-tree-1{
    height: 250px;
    width: 250px;
    padding: 100px 20px 0px;
    background-color: rgb(253, 230, 234);
    border: none;
    border-radius: 200px 200px 0px 0px;
}
.pink-tree-2{
    height: 250px;
    width: 250px;
    padding: 100px 20px 0px;
    background-color: rgb(212, 242, 241);
    align-items: center;
    border: none;
    border-radius: 200px 200px 0px 0px;
}
.pink-tree-3{
    height: 250px;
    width: 250px;
    padding: 100px 20px 0px;
    background-color: rgba(221, 218, 218, 0.713);
    border: none;
    border-radius: 200px 200px 0px 0px;
}
.pink-all-box{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.pink-tree-title{
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}
/* Support container start from here */
.support-container{
    align-items: center;
    padding: 30px;
    text-align: center;
    margin: 10px 200px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(236, 233, 233, 0.85);
    border-radius: 5px;
    background-color: rgba(236, 233, 233, 0.85);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.delivery-div{
    width: 75px;
}

/* hot deal section start from here  */
.hot-container{
    height: 70vh;
    padding: 10px 200px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(252, 244, 219, 0.988)
}
.hot-deal-container{
    width: 50%;
}
.hot-title{
    padding: 10px;
}
/* instragram section start from here */
.instagram-container{
    height: 90vh;
    margin: 0px 240px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.insta-paragraph{
    padding: 20px;
}
.instra-flower{
    height: 270px;
    width: 220px;
}
.instra-all-box{
    display: flex;
    gap: 10px;
}
.instagram-title{
    padding: 50px 190px 30px;
}
/* latest deal section start from here  */
.latest-container{
    background-image: url('./Flower\ Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    padding: 20px;
    margin: 0px 200px 70px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.input-container{
    padding-left: 150px;
}
.input-box{
    width: 60%; 
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
}
.support-title{
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
}
.latest-heading-container{
    text-align: center;
}
/* footer container start from here  */
.footer-container{
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;  
}
.footer-paragraph{
    padding: 15px;
    font-size: small;
}
.copyright{
    font-size: x-small;
    color: rgba(153, 152, 152, 0.931);
}
/* end all section */