*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.898);
    color: white;
}
.menus{
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 20px;
}
.hl:hover{
    background-color: rgb(151, 205, 50);
    cursor: pointer;
}
/* banner section start from here */
.bannner-container{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(229, 227, 216)
}
.banner-image{
    height: 500px;
    width: 400px;
    padding right: 240px;
}
.about-container{
    padding-left: 240px;   
}
.main-title{
    font-size: 40px;
    text-align: left;
}
.title-description{
    padding-top: 20px;
    padding-right: 180px;
}
.btn-common{
    font-size: 20px;
    padding: 12px 20px;
    margin-top: 20px;
    background-color: rgba(243, 71, 100, 0.928);
    color: white;
    border: none;
    border-radius: 5px;
}