*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.898);
    color: white;
}
.menus{
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 20px;
}
.hl:hover{
    background-color: rgb(151, 205, 50);
    cursor: pointer;
}
/* banner section start from here */
.bannner-container{
    /* height: 100vh; */
    width: 1920px;
    height: 850px;
    background-color: rgb(229, 227, 216)
}